body {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header,
footer {
  background-color: #0077cc; /* Bleu foncé */
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

nav li a:hover {
  color: #f0f0f0;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.image-container {
  flex: 1;
  margin-right: 20px;
}

.image-container img {
  width: 100%;
  border-radius: 10px;
}

.texte-principal {
  flex: 1;
}

.liste-liens ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.liste-liens li {
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 20px 0;
  margin: auto;
  background-color: #0077cc; /* Bleu foncé */
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
